Local_To_S3.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>7ce52d3a-0171-1000-9950-b19bc2cfa630</groupId>
    <name>Local To S3</name>
    <snippet>
        <controllerServices>
            <id>014893b4-4ce7-38f2-0000-000000000000</id>
            <parentGroupId>1434b272-627b-3e13-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
            </descriptors>
            <name>DBCPConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.microsoft.sqlserver.jdbc.SQLServerDriver</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:sqlserver://13.250.172.132:1433;Database=Demo;user=remoteu;password=admin@123</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>remoteu</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/home/ubuntu/sqljdbc_7.2/enu/mssql-jdbc-7.2.2.jre11.jar</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processGroups>
            <id>39cfe212-465f-3dc6-0000-000000000000</id>
            <parentGroupId>1434b272-627b-3e13-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>251f52b7-5d18-3866-0000-000000000000</id>
                    <parentGroupId>39cfe212-465f-3dc6-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39cfe212-465f-3dc6-0000-000000000000</groupId>
                        <id>90533457-e7cc-316a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>39cfe212-465f-3dc6-0000-000000000000</groupId>
                        <id>ee05d52a-579b-3845-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>76df9f7c-987c-34e4-0000-000000000000</id>
                    <parentGroupId>39cfe212-465f-3dc6-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39cfe212-465f-3dc6-0000-000000000000</groupId>
                        <id>90533457-e7cc-316a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>39cfe212-465f-3dc6-0000-000000000000</groupId>
                        <id>08c28cf3-18e3-33e1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>08c28cf3-18e3-33e1-0000-000000000000</id>
                    <parentGroupId>39cfe212-465f-3dc6-0000-000000000000</parentGroupId>
                    <position>
                        <x>232.0</x>
                        <y>272.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Keep Source File</key>
<value>
    <name>Keep Source File</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Keep Source File</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Input Directory</key>
<value>/home/ubuntu/source/</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>[^\.].*</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>10 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetFile</type>
                </processors>
                <processors>
                    <id>90533457-e7cc-316a-0000-000000000000</id>
                    <parentGroupId>39cfe212-465f-3dc6-0000-000000000000</parentGroupId>
                    <position>
                        <x>744.0</x>
                        <y>272.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>FullControl User List</key>
<value>
    <name>FullControl User List</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>s3-object-remove-tags-prefix</key>
<value>
    <name>s3-object-remove-tags-prefix</name>
</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>
    <name>Endpoint Override URL</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Upload Max Age Threshold</key>
<value>
    <name>Multipart Upload Max Age Threshold</name>
</value>
                            </entry>
                            <entry>
<key>canned-acl</key>
<value>
    <name>canned-acl</name>
</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>
    <name>Signer Override</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                            <entry>
<key>Content Type</key>
<value>
    <name>Content Type</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>Write ACL User List</key>
<value>
    <name>Write ACL User List</name>
</value>
                            </entry>
                            <entry>
<key>server-side-encryption</key>
<value>
    <name>server-side-encryption</name>
</value>
                            </entry>
                            <entry>
<key>Read ACL User List</key>
<value>
    <name>Read ACL User List</name>
</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
    <name>encryption-service</name>
</value>
                            </entry>
                            <entry>
<key>Storage Class</key>
<value>
    <name>Storage Class</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Part Size</key>
<value>
    <name>Multipart Part Size</name>
</value>
                            </entry>
                            <entry>
<key>Object Key</key>
<value>
    <name>Object Key</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Threshold</key>
<value>
    <name>Multipart Threshold</name>
</value>
                            </entry>
                            <entry>
<key>s3-object-tags-prefix</key>
<value>
    <name>s3-object-tags-prefix</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Upload AgeOff Interval</key>
<value>
    <name>Multipart Upload AgeOff Interval</name>
</value>
                            </entry>
                            <entry>
<key>Write Permission User List</key>
<value>
    <name>Write Permission User List</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Read Permission User List</key>
<value>
    <name>Read Permission User List</name>
</value>
                            </entry>
                            <entry>
<key>Expiration Time Rule</key>
<value>
    <name>Expiration Time Rule</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>FullControl User List</key>
<value>${s3.permissions.full.users}</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>${s3.owner}</value>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>s3-object-remove-tags-prefix</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
                            </entry>
                            <entry>
<key>Multipart Upload Max Age Threshold</key>
<value>7 days</value>
                            </entry>
                            <entry>
<key>canned-acl</key>
<value>${s3.permissions.cannedacl}</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>Default Signature</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                            <entry>
<key>Content Type</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>Write ACL User List</key>
<value>${s3.permissions.writeacl.users}</value>
                            </entry>
                            <entry>
<key>server-side-encryption</key>
<value>None</value>
                            </entry>
                            <entry>
<key>Read ACL User List</key>
<value>${s3.permissions.readacl.users}</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
                            </entry>
                            <entry>
<key>Storage Class</key>
<value>Standard</value>
                            </entry>
                            <entry>
<key>Multipart Part Size</key>
<value>5 GB</value>
                            </entry>
                            <entry>
<key>Object Key</key>
<value>input/${filename}</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
                            </entry>
                            <entry>
<key>Multipart Threshold</key>
<value>5 GB</value>
                            </entry>
                            <entry>
<key>s3-object-tags-prefix</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>cldcvrtestbucket</value>
                            </entry>
                            <entry>
<key>Multipart Upload AgeOff Interval</key>
<value>60 min</value>
                            </entry>
                            <entry>
<key>Write Permission User List</key>
<value>${s3.permissions.write.users}</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
                            </entry>
                            <entry>
<key>Region</key>
<value>ap-southeast-1</value>
                            </entry>
                            <entry>
<key>Read Permission User List</key>
<value>${s3.permissions.read.users}</value>
                            </entry>
                            <entry>
<key>Expiration Time Rule</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutS3Object</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
                </processors>
                <processors>
                    <id>ee05d52a-579b-3845-0000-000000000000</id>
                    <parentGroupId>39cfe212-465f-3dc6-0000-000000000000</parentGroupId>
                    <position>
                        <x>448.0</x>
                        <y>8.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>
    <name>db-fetch-db-type</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
<value>
    <name>Maximum-value Columns</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-output-batch-size</key>
<value>
    <name>qdbt-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-max-rows</key>
<value>
    <name>qdbt-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-max-frags</key>
<value>
    <name>qdbt-max-frags</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>Fetch Size</key>
<value>
    <name>Fetch Size</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-sql-query</key>
<value>
    <name>db-fetch-sql-query</name>
</value>
                            </entry>
                            <entry>
<key>Columns to Return</key>
<value>
    <name>Columns to Return</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
<value>
    <name>db-fetch-where-clause</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>transaction-isolation-level</key>
<value>
    <name>transaction-isolation-level</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Table Name</key>
<value>Aadhar</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>MS SQL 2012+</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>014893b4-4ce7-38f2-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
<value>id</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>qdbt-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>qdbt-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>qdbt-max-frags</key>
<value>0</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Fetch Size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>db-fetch-sql-query</key>
                            </entry>
                            <entry>
<key>Columns to Return</key>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>transaction-isolation-level</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>QueryDatabaseTable</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.QueryDatabaseTable</type>
                </processors>
            </contents>
            <name>LocalToS3</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>04/21/2020 08:15:01 UTC</timestamp>
</template>
